container_commands:
  01_make_migrate:
    command: "django-admin.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_change_ownership_logs:
    command: "chown wsgi SmsAlertSystem/rapidsms.log"
