option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: SmsAlertSystem.settings
  "aws:elasticbeanstalk:container:python":
    WSGIPath: SmsAlertSystem/wsgi.py
    StaticFiles: /static=public/static
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "public/static/"
